html{
    background-color: rgb(100, 99, 99);
}
.navbar{
    position:relative;
    display: flex;
    /* align-self: flex-start; */
    background-color: rgb(58, 57, 57);
    /* text-align: right; */
    
}
.NavButtons{
    margin: 1%;
    display:flex;
    margin-left: 88%;
    text-align: right;
    /* flex-direction: row; */
    /* height: 20px; */
}
#logo_image{
    margin: 1%;
    height: 30px;
}
.btn{
    background-color: black;
    margin: 1.5%;
    border-radius: 7px;
    text-align: justify;
    border: 0;
    padding: 7%;
    padding-left: 2%;
    margin-right:20% ;

    color: aliceblue;
}
.MainContent{
    display: flex;
    margin: 20%;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
}